
.b-error-default {
	
	.error-content {
		margin:2em 0 4em;
		
		.title {
			font-family:asp;
			#site.color(#8f0f0f);
			#site.size(7.2em);
			#site.bold();
			#site.uppercase();
		}
		.preview {
			#site.color(#000000);
			#site.size(1.6em);
			#site.lh(2.25em);
		}
	}
	
	.go-to {
		.all-product-btn {
			#site.size(1.4em);
			border-radius: 1px;
			border:1px #8f0f0f solid;
			padding:0.7em 2em;
		}
		.mainpage-btn {
			#site.size(1.4em);
			#site.color(#8f0f0f);
			margin-left:3em;
		}
	}
	
}
.b-add-post-action-cover {
	
	.action-cover {
		#site.h(45em);
		#site.color(@c-hex-w);
		margin-bottom:6em;
		padding:5em;
		background-position:center center;
		background-repeat:no-repeat;
		background-size:cover;
		background-image:url('@{url-path-img}/b-add-post-action-cover-bg.jpg');
		
		.title {
			#site.ff(asp);
			#site.size(4.8em);
			max-width:640px;
		}
		.text {
			#site.ff(gr);
			#site.size(1.6em);
			#site.lh(1.5em);
			margin:2em 0;
			max-width:555px;
		}
		.preview {
			#site.ff(gr);
			#site.size(3em);
			#site.lh(0.8em);
			max-width:620px;
		}
		.more {
			a {
				#site.ff(gr);
				#site.size(1.3em);
				#site.color(#9b9b9b);
				#site.underline();
				
				&:hover {
					#site.color(@c-hex-w);
				}
			}
		}
	}
	
}
.b-add-post-form {
	margin-bottom:8em;
	
	::-webkit-input-placeholder {
		color: #878787;
		#site.bold(normal);
	}
	:-moz-placeholder { /* Firefox 18- */
		color: #878787;
		#site.bold(normal);
	}
	::-moz-placeholder {  /* Firefox 19+ */
		color: #878787;
		#site.bold(normal);
	}
	:-ms-input-placeholder {
		color: #878787;
		#site.bold(normal);
	}
	
	.form-title {
		display:block;
		border:none;
		#site.w(100%);
		#site.bg(@c-hex-w);
		#site.color(#878787);
		#site.size(2.4em);
		#site.bold();
		#site.ff(gr);
		margin-bottom:0.5em;
		padding:0.5em 0.1em;
	}
	.form-main_info {
		display:block;
		border:none;
		#site.w(100%);
		#site.h(5em);
		#site.bg(@c-hex-w);
		#site.color(#878787);
		#site.size(2.4em);
		#site.ff(gr);
		margin-bottom:1em;
		padding:0.5em 0.1em;
	}
	.form-theme-select {
		border:1px #c6c6c6 solid;
		#site.color(#878787);
		#site.size(1.3em);
		#site.w(40%);
		#site.h(3em);
		padding:0.5em;
		display:inline-block;
		
	}
	.form-upload-img-btn {
		#site.color(#8f0f0f);
		#site.size(1.4em);
		border-radius: 2px;
		border:2px #8f0f0f solid;
		padding:0.7em 2em;
		margin-left:3em;
	}
	.form-create-post-btn {
		-ms-appearance: none;
		-moz-appearance: none;
		-o-appearance: none;
		-webkit-appearance: none;
		appearance: none;
		#site.color(@c-hex-w);
		#site.bg(#8f0f0f);
		#site.size(1.4em);
		border-radius: 2px;
		border:2px #8f0f0f solid;
		padding:0.7em 2em;
		margin-top:2em;
		cursor:pointer;
	}
	
}
.b-all-post-banner {
	margin:2em 0;
	
	.banner-title {
		padding:4.5em 4em;
		background-position:center center;
		background-repeat:no-repeat;
		background-size:cover;
		background-image:url('@{url-path-img}/b-add-post-action-cover-bg.jpg');
		
		span {
			display:inline-block;
			vertical-align: middle;
			#site.ff(asp);
			#site.color(#ffffff);
			#site.bold();
			#site.size(2.4em);
			#site.lh(24px);
			#site.uppercase();
		}
		
		a {
			display:inline-block;
			vertical-align: middle;
			#site.ff(gr);
			#site.color(#ffffff);
			#site.size(1.2em);
			#site.lh(24px);
			#site.bold(normal);
			#site.uppercase(capitalize);
			margin-left:3.5em;
			
			&:hover {
				#site.underline();
			}
		}
		
	}
	
}
.b-all-post-header {
	
	.filter-cont {
		.title {
			font-family: asp;
			#site.size(3em);
			#site.bold();
			#site.uppercase();
			#site.color(#8f0e0e);
			margin-bottom:1em;
		}
		.filters {
			float:right;
			
			.flt-count {
				display:inline-block;
				#site.color(#8c8c8c);
				margin-right:2.5em;
				
				.item {
					#site.size(1.2em);
					#site.color(#8c8c8c);
					
					&.active {
						#site.color(#8f0e0e);
					}
				}
			}
			
			.flt-select {
				border:1px #c6c6c6 solid;
				#site.color(#878787);
				#site.size(1.4em);
				#site.w(210px);
				#site.h(3em);
				padding:0.4em 0.6em;
				margin-right:1.5em;
				display:inline-block;
			}
			
			.add-post-btn {
				#site.color(#8f0f0f);
				#site.size(1.4em);
				border-radius: 2px;
				border:2px #8f0f0f solid;
				padding:0.7em 2em;
				margin-right:10px;
			}
		}
	}
	
}
.b-all-post-list {
	padding-bottom:2em;
	
	.item {
		padding-left:10px;
		padding-right:10px;
		
		.item-image {
			margin-top:5em;
			margin-left:auto;
			margin-right:auto;
			width:1000px;
			max-width:100%;
		}
		.text {
			margin-top:3em;
			
			.date {
				display:inline-block;
				width:19%;
				vertical-align:top;
				#site.color(#a6a6a6);
				font-family:gb;
				#site.lh(18px);
				
				.day {
					#site.size(48px);
					#site.lh(1em);
					#site.bold();
				}
				.month {
					#site.size(12px);
				}
			}
			.info {
				#site.lh(18px);
				display:inline-block;
				width:80%;
				vertical-align:top;
				
				.title a {
					font-family:gb;
					#site.color(#1d1d1d);
					#site.bold();
					#site.uppercase();
					#site.size(14px);
					
					&:hover {
						#site.underline();
					}
				}
				.author {
					#site.color(#a6a6a6);
					#site.size(13px);
					margin:1em 0;
					
					.view_as {
						#site.color(#a6a6a6);
						#site.underline();
					}
				}
				.preview {
					#site.color(#1d1d1d);
					#site.size(13px);
				}
				.read-btn {
					display:inline-block;
					margin:2.5em 0;
					position:relative;
					font-family:gb;
					#site.size(1.3em);
					#site.uppercase();
					#site.bold();
					#site.color(#930000);
					#site.lh(1em);
					
					&:after {
						content:'→';
						position:absolute;
						left:120%;
						top:0;
						#site.size(1.7em);
						#site.lh(11px);
						transition:all @trans-speed ease;
					}
					
					&:hover {
						&:after {
							left:140%;
						}
					}
				}
			}
		}
	}
	
}
.b-all-post-pagination {
	
	.go-to-filters {
		#site.size(1.4em);
		#site.color(#8f0f0f);
		#site.lh(5em);
		float:right;
		
		&:hover {
			#site.underline();
		}
	}
	
	.pagination {
		margin:2em 0 6em;
		.arr {
			content:'';
			display:inline-block;
			vertical-align:middle;
			#site.w(1em);
			#site.h(1em);
			
			&.l {
				border-right: 1em solid #1d1d1d;
				border-top: 1em solid transparent;
				border-bottom: 1em solid transparent;
			}
			&.r {
				border-left: 1em solid #1d1d1d;
				border-top: 1em solid transparent;
				border-bottom: 1em solid transparent;
			}
		}
		
		.count-cont {
			display:inline-block;
			#site.color(#1d1d1d);
			#site.size(1.4em);
			margin:0 1.5em;
			padding:0 1.5em;
			border-left:1px #c6c6c6 solid;
			border-right:1px #c6c6c6 solid;
			
			input[type="text"] {
				#site.color(#1d1d1d);
				text-align:center;
				#site.size(1em);
				#site.w(3em);
				border:1px #c6c6c6 solid;
				padding:0.5em;
				margin:0 0.2em;
			}
		}
		
	}
	
}
.b-contact {
	.con-work {
		#site.color(#000000);
		#site.size(1.6em);
		#site.lh(2.25em);
		
		a {
			font-family:gb;
			#site.color(#8f0e0e);
			#site.size(2em);
			#site.bold();
			
			&:hover {
				#site.underline();
			}
		}
	}
	.con-order-call {
		padding:3.5em 0 4.5em;
		
		a {
			#site.size(1.4em);
			#site.color(#8f0e0e);
			border-radius: 2px;
			border:1px #8f0e0e solid;
			padding:0.7em 2em;
		}
	}
	.con-quality {
		#site.color(#000000);
		#site.size(1.6em);
		#site.lh(2.25em);
		
		a {
			font-family:gb;
			#site.color(#8f0e0e);
			#site.size(1.2em);
			#site.bold();
			
			&:hover {
				#site.underline();
			}
		}
	}
	.black-line {
		width:8em;
		height:0.2em;
		#site.bg(#1d1d1d);
		margin:4.5em 0 3.5em;
	}
	.con-nizhv-contact {
		#site.bold();
		#site.color(#000000);
		#site.size(1.6em);
		#site.lh(2.5em);
		
		a {
			display:inline-block;
			background-position:left center;
			background-repeat:no-repeat;
			#site.color(#8f0e0e);
			padding-left:2em;
			
			&:hover {
				#site.underline();
			}
			
			&.adr {
				background-image:url('@{url-path-img}/con-nizhv-contact-adr.png');
			}
			&.phone {
				background-image:url('@{url-path-img}/con-nizhv-contact-phone.png');
			}
		}
	}
	.map-cont {
		height:100%;
		
		.b-contact-map-cont-map {
			height:100%;
			min-height:420px;
		}
	}
}
body {
	#site.color(@c-hex-w);
	#site.ff();
	#site.bold();
}

.b-white-bg {
	#site.bg(@c-hex-w);
}

.d-t {
	display:table;
	vertical-align:middle;
	width:100%;
	
	.d-t-r {
		display:table-row;
		vertical-align:inherit;
	}
	
	.d-t-c {
		display:table-cell;
		vertical-align:inherit;
		height:100%;
	}
	
	.w-auto {
		width:auto;
	}
	
}

.pd40 {
	padding:4em 0;
}

.h75 {
	height:7.5em;
}

.hp100 {
	height:100%;
}

.w240 {
	width:240px;
}

.wp025 {
	width:25%;
}
.wp005 {
	width:5%;
}

.ml1 {
	margin-left:10px !important;
}
.mr1 {
	margin-right:10px !important;
}
.pr1 {
	padding-right:10px !important;
}
.pl1 {
	padding-left:10px !important;
}

.on-hover {
	
	&.ch-color {
		
		&.btn.r2w {
			#site.color(#8f0f0f);
			#site.bg(transparent);
			
			&:hover {
				#site.color(@c-hex-w);
				#site.bg(#8f0f0f);
			}
		}
		
		&.btn.w2r {
			#site.color(@c-hex-w);
			#site.bg(#8f0f0f);
			
			&:hover {
				#site.color(#8f0f0f);
				background-color:@c-hex-w !important;
			}
		}
		
	}
	
	&.ch-underline {
		#site.underline(none);
		
		&:hover {
			#site.underline();
		}
	}
	
}

.btn {
	outline:none;
}
.b-bottom-copy {
	#site.bg(#1d1d1d);
	#site.color(#505050);
	#site.lh(3.6em);
	
	.text {
		#site.size(1.3em);
		vertical-align:middle;
	}
	
	.pay-icons {
		display:inline-block;
		margin-left:4.2em;
		width:214px;
		height:21px;
		background-repeat:no-repeat;
		background-position:center center;
		background-image:url('@{url-path-img}/b-bottom-copy-pay-icons.png');
		vertical-align:middle;
	}
}
.b-bottom-menu {
	#site.bg(#232323);
	#site.color(@c-hex-w);
	
	ul {
		list-style-type:none;
		#site.lh(36px);
		margin:5em 0;
		
		li {
			
			&.title {
				#site.uppercase();
				#site.color(#ffffff);
				#site.bold();
				#site.size(1.2em);
				font-family:gb;
			}
			
			&.adr {
				#site.color(#838383);
				#site.size(1.3em);
			}
			
			&.phone, &.email {
				padding-left:2em;
				background-position:left center;
				background-repeat:no-repeat;
				background-size:10px 7px;
			}
			
			&.phone {
				background-image:url('@{url-path-img}/b-top-header-btn-phone.png');
			}
			
			&.email {
				background-image:url('@{url-path-img}/b-top-header-btn-email.png');
			}
			
			a {
				#site.color(#838383);
				#site.size(1.3em);
				
				&:hover {
					#site.color(#ffffff);
				}
			}
			
		}
		
	}
}
.b-drd-menu {
	#site.bg(#232323);
	position:absolute;
	left:0;
	top:100%;
	width:100%;
	transform-origin: 10% 0;
	transform:scale(1, 0);
	transition:transform @trans-speed ease;
	/*padding: 3.8em 0;*/
	
	&.active {
		transform:scale(1);
	}
	
	.while-link {
		#site.color(@c-hex-w);
		#site.size(1.5em);
		#site.bold();
		#site.lh(2.5em);
		display:block;
		
		
		
	}
	
	.pl1 .while-link {
		padding-left:0em;
	}
	.pl2 .while-link {
		padding-left:1.3em;
	}
	.pl3 .while-link {
		padding-left:2.6em;
	}
	.pl4 .while-link {
		padding-left:4em;
	}
	
	.grey-link {
		#site.color(#777777);
		#site.size(1.5em);
		#site.lh(2.5em);
		#site.underline();
		display:block;
	}
	
	ul {
		list-style-type:none;
		margin: 15% 0;
		
		&.login-ul {
			border-left:1px #474747 solid;
			margin-left:2em;
			padding-left:4em;
			
			li.login, li.reg {
				padding-left:3em;
				background-position:left center;
				background-repeat:no-repeat;
			}
			li.login {
				background-image:url('@{url-path-img}/b-drd-menu-login-ul-login.png');
			}
			li.reg {
				background-image:url('@{url-path-img}/b-drd-menu-login-ul-reg.png');
			}
		}
		
		li {
			a {
				
			}
		}
	}
	
}
.b-top-cart {
	#site.bg(@c-hex-w);
	position:absolute;
	right:0;
	top:100%;
	width:100%;
	transform-origin: 100% 0;
	transform:scale(0);
	transition:transform @trans-speed ease;
	
	
	&.active {
		transform:scale(1);
	}
	
	.cart-container {
		padding:4em;
	}
	
	.position {
		
		&:after {
			content:'';
			display:block;
			margin-bottom:15em;
		}
		
		.index {
			width:6%;
			#site.color(#b6b6b6);
			#site.size(3em);
			#site.bold();
		}
		.img {
			width:11%;
		}
		.title {
			width:50%;
			font-family:gb;
			#site.color(#1d1d1d);
			#site.uppercase();
			#site.size(1.4em);
			#site.lh(1.3em);
			#site.bold();
		}
		.count {
			width:16%;
			
			.pos-counter {
				border:3px #1d1d1d solid;
				padding:1em 0;
				text-align:center;
				width:80%;
				
				.d, .c, .u {
					display:inline-block;
					text-align:center;
					width:30%;
				}
				.d {
					.arrow.bottom {
						border-top: 4px #b6b6b6 solid;
					}
					
					&:hover {
						.arrow.bottom {
							border-top: 4px black solid;
						}
					}
				}
				.c {
				
				}
				.u {
					.arrow.top {
						border-bottom: 4px #b6b6b6 solid;
					}
					
					&:hover {
						.arrow.top {
							border-bottom: 4px black solid;
						}
					}
				}
			}
		}
		.sum {
			width:11%;
			font-family:gb;
			#site.color(#8f0f0f);
			#site.size(1.5em);
			#site.lh(1.2em);
			#site.bold();
			text-align: right;
		}
		.delete {
			width:6%;
			text-align: right;
		}
	}
	
	.border {
		display:block;
		height:3px;
		#site.bg(#1d1d1d);
		margin:3em auto 4em;
	}
	
	.sum-cont {
		text-align:right;
		
		.text {
			display:inline-block;
			vertical-align:middle;
			font-family:gb;
			#site.size(2.4em);
			#site.bold();
			#site.color(#232323);
			#site.uppercase();
			margin-right:15px;
		}
		.sum {
			display:inline-block;
			vertical-align:middle;
			font-family:gb;
			#site.size(2.4em);
			#site.bold();
			#site.color(#8f0f0f);
			#site.uppercase();
			margin-right:35px;
		}
		.order {
			display:inline-block;
			vertical-align:middle;
			font-family:gb;
			border-radius: 2px;
			#site.size(1.2em);
			#site.bold();
			#site.color(#ffffff);
			#site.uppercase();
			#site.bg(#8f0f0f);
			padding:1.5em 4em;
		}
	}
	
}
.b-top-drd-menu {
	#site.bg(#1d1d1d);
	position:absolute;
	left:0;
	top:100%;
	width:100%;
	transform-origin: 10% 0;
	transform:scale(1, 0);
	transition:transform @trans-speed ease;
	padding:5.5em;
	
	&.active {
		transform:scale(1);
	}
	
	ul {
		list-style-type:none;
		
		li {
			#site.lh(3.6em);
			
			a {
				#site.size(1.4em);
				#site.color(#ffffff);
				
				&:hover {
					#site.underline();
				}
			}
			
		}
	}
	
	.product-item {
		border-left:1px #383838 solid;
		padding:0 4em;
		position:relative;
		
		.title {
			font-family:asp;
			#site.uppercase();
			#site.size(1.6em);
			#site.bold();
			#site.color(#838383);
			padding-bottom:3em;
		}
		
		.product-title {
			display:block;
			font-family:gb;
			#site.color(#838383);
			#site.size(1.2em);
			#site.bold();
			#site.uppercase();
			#site.lh(2em);
		}
		.product-cat {
			display:block;
			#site.color(#838383);
			#site.italic();
			#site.size(1.2em);
			#site.underline();
			#site.lh(2em);
		}
		.product-cost {
			display:block;
			font-family:gb;
			#site.color(#d4d4d4);
			#site.size(2.6em);
			#site.bold();
			#site.lh(0.7em);
			margin:1.8em 0;
		}
		.more {
			#site.color(#d4d4d4);
			#site.size(1.3em);
			#site.lh(1.7em);
			padding:1em 3.5em;
			border:1px #d4d4d4 solid;
			border-radius: 2px;
		}
		
		.point-block {
			position:absolute;
			left:0;
			bottom:0;
			width:100%;
			height:1em;
			text-align:center;
			
			.point {
				border-radius: 50%;
				border:1px #626262 solid;
				width:1em;
				height:1em;
				display:inline-block;
				margin:0 1em;
				
				&.active {
					#site.bg(#626262);
				}
			}
		}
		
	}
	
}
.b-top-header {
	#site.bg(#2e2e2e);
	#site.color(#838383);
	position:relative;
	
	.header-list {
		a {
			#site.color(#838383);
			
			&.menu-btn, &.cart-btn {
				#site.color(@c-hex-w);
				#site.bold();
				#site.uppercase();
			}
			
			&.phone-btn, &.email-btn {
				#site.size(1.4em);
				#site.bold();
			}
			
			&.menu-btn {
				#site.size(1.4em);
				
				&.active {
					.bg-icon {
						&.menu {
							background-image:url('@{url-path-img}/b-top-header-btn-menu-cross.png');
						}
					}
				}
				
			}
			
			&.cart-btn {
				display:inline-block;
				min-width:175px;
				text-align:center;
				height:50px;
				#site.lh(50px);
				#site.bg(#3a3a3a);
				transition:all @trans-speed ease;
				#site.size(1.25em);
				
				&.active {
					#site.color(#8f0e0e);
					#site.bg(@c-hex-w);
					
					.bg-icon {
						&.cart {
							background-image:url('@{url-path-img}/b-top-header-btn-cart-red.png');
						}
					}
				}
			}
		}
	}
	
	.drd-container {
		position:relative;
	}
	
	.bg-icon {
		background-position:center center;
		background-repeat:no-repeat;
		width:22px;
		height:16px;
		display:inline-block;
		vertical-align:middle;
		margin-right:10px;
		
		&.menu {
			background-image:url('@{url-path-img}/b-top-header-btn-menu.png');
		}
		&.phone {
			background-image:url('@{url-path-img}/b-top-header-btn-phone.png');
		}
		&.email {
			background-image:url('@{url-path-img}/b-top-header-btn-email.png');
		}
		&.vk {
			background-image:url('@{url-path-img}/b-top-header-btn-vk.png');
		}
		&.fb {
			background-image:url('@{url-path-img}/b-top-header-btn-fb.png');
		}
		&.inst {
			background-image:url('@{url-path-img}/b-top-header-btn-inst.png');
		}
		&.ok {
			background-image:url('@{url-path-img}/b-top-header-btn-ok.png');
		}
		&.yt {
			background-image:url('@{url-path-img}/b-top-header-btn-yt.png');
		}
		&.cart {
			background-image:url('@{url-path-img}/b-top-header-btn-cart.png');
		}
	}
}
.b-top-menu {
	#site.bg(#1d1d1d);
	#site.color(@c-hex-w);
	/*padding:3.8em 0;*/
	
	.menu-list {
		position:relative;
		
		.item.active, .item:hover {
			position:relative;
			cursor:pointer;
			
			.before {
				content:'';
				position:absolute;
				left:0;
				bottom:0;
				height:4px;
				width:0%;
				#site.bg(#8f0f0f);
				z-index:11;
				transition:all @trans-speed / 3 ease;
			}
			.after {
				content:'';
				position:absolute;
				left:49%;
				bottom:0;
				height:5.65px;
				width:5.65px;
				transform-origin:0 100%;
				transform:rotate(45deg);
				#site.bg(#8f0f0f);
				z-index:11;
				transition:all @trans-speed / 3 ease;
			}
			
		}
		
		a {
			text-align:center;
			#site.size(1.5em);
			#site.color(@c-hex-w);
			#site.bold();
			
			&:last-child {
				text-align:right;
			}
			
			&:hover {
				
			}
			
			&.m-item {
				margin:0 0.1em;
			}
		}
		
	}
	
	.search-icon {
		position:relative;
		
		.search-block {
			display:inline-block;
			width:1px;
			height:31px;
			#site.bg(#7c7c7c);
			vertical-align:middle;
		}
		.search-btn {
			img {
				margin-left:1.4em;
				vertical-align:middle;
			}
		}
	}
	
	.search-container {
		transform-origin:100% 50%;
		transition:all @trans-speed ease;
		position:absolute;
		right:0;
		top:0;
		height:100%;
		width:76%;
		transform:scale(0);
		#site.bg(#1d1d1d);
		
		.search-field {
			position:absolute;
			left:0;
			top:25%;
			width:100%;
			height:50%;
			border-left:1px #bababa solid;
			
			::-webkit-input-placeholder {
				color: #838383;
			}
			:-moz-placeholder { /* Firefox 18- */
				color: #838383;
			}
			::-moz-placeholder {  /* Firefox 19+ */
				color: #838383;
			}
			:-ms-input-placeholder {
				color: #838383;
			}
			
			input {
				border:none;
				height:100%;
				#site.size(1.8em);
				#site.color(#838383);
				#site.lh(1.3em);
				#site.bg(transparent);
				padding: 0 1.2em;
				
				&:focus {
					outline:none;
					
				}
			}
		}
		
		.close-search {
			position:absolute;
			right:0;
			top:25%;
			height:50%;
			width:3em;
			background-position:right center;
			background-repeat:no-repeat;
			background-image:url('@{url-path-img}/b-top-menu-search-close-search.png');
		}
		
		&.active {
			position:absolute;
			right:0;
			top:0;
			transform:scale(1);
		}
	}
	
	.drd-menu-container {
		position:relative;
	}
}
.b-top-slider {
	background-position:center center;
	background-repeat:no-repeat;
	background-image:url('@{url-path-img}/b-top-slider-main-body.jpg');
	height:540px;
	width:100%;
	
	.d-t-c {
		width:100%;
	}
	
	.title {
		text-align:center;
		font-family:asp;
		#site.color(#fffefe);
		#site.size(6em);
		#site.bold();
		#site.uppercase();
	}
	.venzel {
		margin:4em 0 7em;
	}
	.next {
		text-align:center;
		a {
			#site.color(#fffefe);
			#site.size(1.5em);
			border:1px #fffefe solid;
			padding:1em 2em;
		}
	}
}
.b-top-submenu {
	#site.bg(#1d1d1d);
	background-position:center center;
	background-repeat:repeat;
	background-image:url('@{url-path-img}/b-top-submenu-bg.png');
	
	.rotate-btn {
		#site.color(@c-hex-w);
		#site.size(1.5em);
		#site.lh(1.5em);
		#site.uppercase();
		#site.bold();
		font-family:gb;
		position:relative;
		display:block;
		width:90%;
		height:130px;
		margin:2.5em auto;
		z-index:5;
		/*
		background-position:center center;
		background-repeat:repeat;
		background-image:url('@{url-path-img}/b-top-submenu-rotate-btn.png');
		*/
		box-shadow: 5px 9px 10px 0px rgba(0, 0, 0, 0.2);
		
		.backgr {
			#site.color(transparent);
			position:absolute;
			left:0;
			top:0;
			width:100%;
			height:100%;
			padding:2em;
			transition:all @trans-speed * 1.5 ease;
			transform:rotateY(-180deg);
			
			background-position:center center;
			background-repeat:repeat;
			background-image:url('@{url-path-img}/b-top-submenu-rotate-btn.png');
		}
		
		.default {
			#site.color(@c-hex-w);
			position:absolute;
			left:0;
			top:0;
			width:100%;
			height:100%;
			padding:2em;
			transition:all @trans-speed * 1.5 ease;
			transform:rotateY(0);
			
			background-position:center center;
			background-repeat:repeat;
			background-image:url('@{url-path-img}/b-top-submenu-rotate-btn.png');
		}
		
		&:hover {
			
			
			.backgr {
				transform:rotateY(0);
				#site.color(@c-hex-w);
			}
			
			.default {
				transform:rotateY(-180deg);
				#site.color(transparent);
				z-index:-1;
			}
		}
		
	}
}
.page-title {
	font-family: asp;
	#site.size(3em);
	#site.bold();
	#site.uppercase();
	#site.color(#8f0e0e);
	margin-bottom:1em;
}
.path-cont {
	margin:4em 0;
	
	a {
		#site.color(#b1b1b1);
		#site.size(1.2em);
		margin-right:2.25em;
		
		&:hover {
			#site.underline();
		}
		
		&:last-child {
			cursor:default;
			
			&:hover {
				#site.underline(none);
			}
		}
	}
}
.b-last-post-list {
	padding-bottom:2em;
	
	.b-title {
		font-family:asp;
		#site.size(3em);
		#site.bold();
		#site.color(#870000);
		#site.uppercase();
		#site.lh(38px);
		margin-left:10px;
	}
	
	.all-post-btn {
		#site.color(#8f0f0f);
		#site.size(1.4em);
		float:right;
		border-radius: 2px;
		border:1px #8f0f0f solid;
		padding:0.7em 2em;
		margin-right:10px;
	}
	
	.item {
		padding-left:10px;
		padding-right:10px;
		
		.item-image {
			margin-top:5em;
			margin-left:auto;
			margin-right:auto;
			width:1000px;
			max-width:100%;
		}
		.text {
			margin-top:3em;
			
			.date {
				display:inline-block;
				width:19%;
				vertical-align:top;
				#site.color(#a6a6a6);
				font-family:gb;
				#site.lh(18px);
				
				.day {
					#site.size(48px);
					#site.lh(1em);
					#site.bold();
				}
				.month {
					#site.size(12px);
				}
			}
			.info {
				#site.lh(18px);
				display:inline-block;
				width:80%;
				vertical-align:top;
				
				.title a {
					font-family:gb;
					#site.color(#1d1d1d);
					#site.bold();
					#site.uppercase();
					#site.size(14px);
					
					&:hover {
						#site.underline();
					}
				}
				.author {
					#site.color(#a6a6a6);
					#site.size(13px);
					margin:1em 0;
					
					.view_as {
						#site.color(#a6a6a6);
						#site.underline();
					}
				}
				.preview {
					#site.color(#1d1d1d);
					#site.size(13px);
				}
				.read-btn {
					display:inline-block;
					margin:2.5em 0;
					position:relative;
					font-family:gb;
					#site.size(1.3em);
					#site.uppercase();
					#site.bold();
					#site.color(#930000);
					#site.lh(1em);
					
					&:after {
						content:'→';
						position:absolute;
						left:120%;
						top:0;
						#site.size(1.7em);
						#site.lh(11px);
						transition:all @trans-speed ease;
					}
					
					&:hover {
						&:after {
							left:140%;
						}
					}
				}
			}
		}
	}
	
}
.b-product-logo-list {
	
	.bordered {
		border-top:1px #d1d1d1 solid;
		border-bottom:1px #d1d1d1 solid;
		padding:4em 0;
		margin:7em 0;
		
		a img.hover-image {
			transition:all @trans-speed ease;
			opacity:0.5;
			margin:0em auto;
			
			&:hover {
				opacity:1;
			}
		}
	}
	
}
.b-sale-leader-gallery {
	margin-bottom:2em;
}
.b-sale-leader-list {
	margin-top:6em;
	
	.b-title {
		font-family:asp;
		#site.size(3em);
		#site.bold();
		#site.color(#870000);
		#site.uppercase();
		#site.lh(38px);
		margin-left:10px;
	}
	
	.all-product-btn {
		#site.color(#8f0f0f);
		#site.size(1.4em);
		float:right;
		border-radius: 2px;
		border:2px #8f0f0f solid;
		padding:0.7em 2em;
		margin-right:10px;
	}
	
	.menu {
		float:right;
		
		ul {
			list-style-type:none;
			
			li {
				display:inline-block;
				#site.lh(38px);
				margin-right:4em;
				position:relative;
				
				a {
					#site.size(1.5em);
					#site.color(#a6a6a6);
				}
				
				&.active {
					a {
						#site.color(#8f0f0f);
					}
					
					&:after {
						content:'';
						position:absolute;
						left:0;
						bottom:0;
						width:100%;
						height:1px;
						#site.bg(#8f0f0f);
					}
				}
			}
		}
	}
	
}

.b-sale-leader-gallery {
	position:relative;
	margin-top:6em;
	
	.adaptive-block {
		position:relative;
		
		.btn-arrow {
			position:absolute;
			top:0;
			display:inline-block;
			height:78%;
			#site.color(#292929);
			#site.size(6em);
			width:0.66em;
			vertical-align:middle;
			background-position:center center;
			background-repeat:no-repeat;
			background-image:url('@{url-path-img}/b-sale-leader-gallery-arrow.png');
			
			&.left {
				left:-15px;
				/*content:'←';*/
			}
			&.right {
				right:-15px;
				/*content:'→';*/
				transform:rotateY(180deg);
			}
			
		}
	}
	
	.item {
		transition:all @trans-speed ease;
		box-shadow:none;
		
		.image-cont {
			position:relative;
			display:block;
			height:275px;
			padding-top:25px;
			
			.image {
				max-height:220px;
			}
			.look {
				position:absolute;
				left:0;
				bottom:4em;
				width:100%;
				height:155px;
				
				.rounded {
					font-family:gb;
					border-radius:50%;
					#site.bg(#f20c0c);
					#site.lh(155px);
					#site.color(@c-hex-w);
					#site.uppercase();
					#site.size(12px);
					#site.bold();
					text-align:center;
					width:155px;
					height:155px;
					margin:0 auto;
					transition:all @trans-speed * 1.5 ease;
					transform-origin:center center;
					transform:scale(0);
				}
			}
			.fast-look {
				position:absolute;
				left:0;
				bottom:0em;
				width:100%;
				height:18px;
				
				.text {
					text-align:center;
					#site.size(1.3em);
					#site.color(#8f0f0f);
					#site.lh(1.5em);
					#site.underline();
					transition:all @trans-speed * 1.5 ease;
					transform-origin:center center;
					transform:scale(0);
				}
			}
		}
		.border {
			margin:2em auto;
			width:86%;
			height:3px;
			#site.bg(#292929);
		}
		.info {
			margin:0em auto 3em;
			width:86%;
			
			.title {
				font-family:gb;
				#site.size(1.2em);
				#site.lh(1.5em);
				#site.color(#1d1d1d);
				#site.uppercase();
				#site.bold();
				float:left;
				width:70%;
			}
			.cost {
				font-family:gb;
				float:right;
				#site.color(#8f0f0f);
				#site.size(1.6em);
				#site.bold();
			}
		}
		
		&:hover {
			box-shadow: inset 0px 0px 10px rgba(0,0,0,0.3);
			
			.image-cont {
				.look {
					.rounded {
						transform:scale(1);
					}
				}
				.fast-look {
					.text {
						transform:scale(1);
					}
				}
			}
		}
		
	}
	
}
.b-team-list {
	
	.item {
		padding-bottom:6em;
		
		.photo {
			text-align:center;
			overflow-y:hidden;
			height:360px;
			
			img {
				transition:all @trans-speed / 2 ease;
				transform-origin:center center;
				border:0px #8f0f0f solid;
				transform:scale(1);
			}
		}
		.title {
			#site.size(1.8em);
			#site.color(#1d1d1d);
			#site.bold();
			margin:2em 1.5em;
			position:relative;
			
			&:after {
				content:'';
				position:absolute;
				left:0em;
				bottom:-2em;
				#site.w(60px);
				#site.h(8px);
				background-position:center center;
				background-repeat:no-repeat;
				background-image:url('@{url-path-img}/b-team-list-item-arrow.png');
				transition:all @trans-speed / 2 ease;
			}
		}
		
		&:hover {
			.photo {
				img {
					transform:scale(0.75);
					border:10px #8f0f0f solid;
				}
			}
			.title {
				#site.underline();
				
				&:after {
					left:2em;
				}
			}
		}
		
	}
	
}